.body {
  min-height: calc(100vh - 160px);
}

@media screen and (max-width: 1024px) {
  .body {
    min-height: calc(100vh - 280px);
  }
}

@media screen and (max-width: 768px) {
  .body {
    min-height: calc(100vh - 330px);
  }
}
